In [3]:
import pandas as pd

In [4]:
simpsons = pd.read_html("https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes")

In [5]:
len(simpsons)

16

In [6]:
simpsons[0]

   Season Episodes               Originally aired                   \
   Season Episodes Episodes.1         First aired       Last aired
0       1       13         13   December 17, 1989     May 13, 1990
1       2       22         22    October 11, 1990    July 11, 1991
2       3       24         24  September 19, 1991  August 27, 1992
3       4       22         22  September 24, 1992     May 13, 1993
4       5       22         22  September 30, 1993     May 19, 1994
5       6       25         25   September 4, 1994     May 21, 1995
6       7       25         25  September 17, 1995     May 19, 1996
7       8       25         25    October 27, 1996     May 18, 1997
8       9       25         25  September 21, 1997     May 17, 1998
9      10       23         23     August 23, 1998     May 16, 1999
10     11       22         22  September 26, 1999     May 21, 2000
11     12       21         21    November 1, 2000     May 20, 2001
12     13       22         22    November 6, 2001     May 22, 2002
13     14       22         22    November 3, 2002     May 18, 2003
14     15       22         22    November 2, 2003     May 23, 2004
15     16       21         21    November 7, 2004     May 15, 2005
16     17       22         22  September 11, 2005     May 21, 2006
17     18       22         22  September 10, 2006     May 20, 2007
18     19       20         20  September 23, 2007     May 18, 2008
19     20       21         21  September 28, 2008     May 17, 2009
20     21       23         23  September 27, 2009     May 23, 2010
21     22       22         22  September 26, 2010     May 22, 2011
22     23       22         22  September 25, 2011     May 20, 2012
23     24       22         22  September 30, 2012     May 19, 2013
24     25       22         22  September 29, 2013     May 18, 2014
25     26       22         22  September 28, 2014     May 17, 2015
26     27       22         22  September 27, 2015     May 22, 2016
27     28       22         22  September 25, 2016     May 21, 2017
28     29       21         21     October 1, 2017     May 20, 2018
29     30       23         23  September 30, 2018     May 12, 2019
30     31       22         22  September 29, 2019     May 17, 2020
31     32       22         22  September 27, 2020     May 23, 2021
32     33       22         22  September 26, 2021     May 22, 2022
33     34   22[49]     22[49]  September 25, 2022              TBA

   Households / viewers     Rank Rating
   Households / viewers     Rank Rating
0      13.4m h.[n1][16]       30   14.5
1      12.2m h.[n1][n2]   38[17]    8.0
2      12.0m h.[n1][n3]   33[18]      —
3      12.1m h.[n1][19]       30   13.0
4      10.5m h.[n1][n4]   53[20]      —
5       9.0m h.[n1][21]   67[21]      —
6       8.0m h.[n1][22]   75[22]      —
7           8.6m h.[23]   53[23]      —
8           9.1m h.[24]       30    9.2
9           7.9m h.[25]   46[25]      —
10          8.2m h.[26]   44[26]      —
11    14.7m viewers[27]   21[27]      —
12    12.4m viewers[28]   30[28]      —
13    13.4m viewers[29]   25[29]      —
14    10.6m viewers[30]   42[30]      —
15     9.6m viewers[31]   52[31]      —
16     9.1m viewers[32]   62[32]    3.2
17     8.6m viewers[33]   60[33]    4.1
18     8.0m viewers[34]   87[34]      —
19     6.9m viewers[35]   77[35]      —
20     7.2m viewers[36]   61[36]    3.4
21     7.3m viewers[37]   65[37]    3.3
22     7.0m viewers[38]   69[38]    3.3
23     6.3m viewers[39]   70[39]    2.9
24     5.6m viewers[40]   81[40]      —
25     5.6m viewers[41]  100[41]    2.6
26     4.7m viewers[42]  102[42]    2.1
27     4.8m viewers[43]   92[43]    2.1
28     4.1m viewers[44]  122[44]    1.7
29     3.7m viewers[45]  126[45]    1.4
30     3.0m viewers[46]  103[46]    1.1
31     2.4m viewers[47]  117[47]    0.8
32     2.3m viewers[48]   98[48]    0.7
33                  TBA      TBA    TBA

## Read .csv from URL with pandas

In [7]:
df_premier21 = pd.read_csv("https://football-data.co.uk/mmz4281/2223/E0.csv")
df_premier21

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,E0,21/01/2023,17:30,Crystal Palace,Newcastle,0,0,D,0,0,...,1.76,0.50,2.06,1.87,2.06,1.87,2.09,1.93,2.04,1.85
195,E0,22/01/2023,14:00,Leeds,Brentford,0,0,D,0,0,...,2.05,-0.25,2.05,1.88,2.05,1.88,2.10,1.91,2.05,1.84
196,E0,22/01/2023,14:00,Man City,Wolves,3,0,H,1,0,...,2.54,-1.75,1.95,1.98,1.95,1.95,1.98,2.08,1.91,1.96
197,E0,22/01/2023,16:30,Arsenal,Man United,3,2,H,1,1,...,2.09,-0.50,1.85,2.08,1.86,2.07,1.91,2.08,1.86,2.02
198,E0,23/01/2023,20:00,Fulham,Tottenham,0,1,A,0,1,...,2.25,0.25,2.05,1.88,2.04,1.88,2.08,1.90,2.02,1.85

In [8]:
df_premier21.rename(columns={'FTHG':'home_goals', 'FTAG':'away_goals'}, inplace=True)

In [9]:
df_premier21

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,E0,21/01/2023,17:30,Crystal Palace,Newcastle,0,0,D,0,0,...,1.76,0.50,2.06,1.87,2.06,1.87,2.09,1.93,2.04,1.85
195,E0,22/01/2023,14:00,Leeds,Brentford,0,0,D,0,0,...,2.05,-0.25,2.05,1.88,2.05,1.88,2.10,1.91,2.05,1.84
196,E0,22/01/2023,14:00,Man City,Wolves,3,0,H,1,0,...,2.54,-1.75,1.95,1.98,1.95,1.95,1.98,2.08,1.91,1.96
197,E0,22/01/2023,16:30,Arsenal,Man United,3,2,H,1,1,...,2.09,-0.50,1.85,2.08,1.86,2.07,1.91,2.08,1.86,2.02
198,E0,23/01/2023,20:00,Fulham,Tottenham,0,1,A,0,1,...,2.25,0.25,2.05,1.88,2.04,1.88,2.08,1.90,2.02,1.85